<div class="phaserGame-inner component-inner" role="region">

    {{> component this}}

    <div class="phaserGame-widget component-widget">

        <div id="{{_media.id}}"></div>
        
    </div>
</div>
