<div class="phaserGame-inner component-inner" role="region">

    {{> component this}}

    <div class="phaserGame-widget component-widget">
    <button class="launch-button button" role="button">
	        Load game
	    </button>

        <div id="{{_media.id}}"></div>
        
    </div>
</div>
